* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Cairo', sans-serif;
  font-weight: 300;
  background: #001121;
  width: 90%;
  margin: 5px auto 50px auto;
  max-width: 1150px;  
}