form {
  margin: 15px 0;
  /* width: 50%; */
}

input {
  margin: 10px;
  padding: 0 5px;
  border: 2px solid #1df5f1;
  font-size: 16px;
}

.urlInput {
  width: 60%;
  padding: 5px;
}

textarea {
  width: 100%;
  border: 2px solid rgb(29, 245, 241);
}